asgiref==3.8.1
Django==5.1.2
django-environ==0.12.0
django-phonenumber-field==8.1.0
et_xmlfile==2.0.0
numpy==2.2.6
openpyxl==3.1.5
pandas==2.2.3
phonenumbers==9.0.5
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
xlrd==1.2.0
django-ratelimit==4.1.0
xlsxwriter==3.1.4
reportlab==3.6.13
pillow==11.3.0
